<a href="https://colab.research.google.com/github/youn123098/Stat1013-pro/blob/main/proj_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CUHK-STAT1013: Practical Assignment Part 1: Sharing Your Idea and Data

## Titanic dataset background


**Description**:

Dataset describing the survival status of individual passengers on the Titanic.

**Github**: [https://github.com/datasciencedojo/datasets/blob/master/titanic.csv](https://github.com/datasciencedojo/datasets/blob/master/titanic.csv)

**Sample size**: 1,309

**Feature documentation**:

Feature   | Class        | Shape | Dtype   | 
:-------- | :----------- | :---- | :------ | 
age       | Tensor       |       | float32 |
boat      | Tensor       |       | string  |
body      | Tensor       |       | int32   |
cabin     | Tensor       |       | string  |
embarked  | ClassLabel   |       | int64   |
fare      | Tensor       |       | float32 |
home.dest | Tensor       |       | string  |
name      | Tensor       |       | string  |
parch     | Tensor       |       | int32   |
pclass    | ClassLabel   |       | int64   |
sex       | ClassLabel   |       | int64   |
sibsp     | Tensor       |       | int32   |
survived  | ClassLabel   |       | int64   |
ticket    | Tensor       |       | string  |

## number 

university student or not?

what is your sex?

do you waer glasses?

do you think the sex will effect the problem?

why you will wear glasses?

when do you begin to waer glasses?

## Hypothesis

- Tell us what your idea is and why you have chosen to pursue this idea. 
  - We are interested in "*Did women have a better chance of survival on the Titanic?*"

- What two groups you are comparing:
  - **G1**: survival rate of male on the Titanic; **G2**: survival rate of female on the Titanic

- What you will be measuring (i.e., what your response variable will be) 
  - `survived`

- Is your response variable quantitative rather than categorical? 
  - `survived` is binary data, with the order `1 > 0`, which can be regarded as a quantitative variable.

- Make a prediction about what kind of difference you expect to see between your samples and WHY. 
  - We'd expect that **G2** > **G1** since [Women and children first on the Titanic](https://www.theguardian.com/science/2010/mar/02/titanic-lusitania-women-children-survival).
- Talk about how you will gather your data
  - From Github link: [https://github.com/datasciencedojo/datasets/blob/master/titanic.csv](https://github.com/datasciencedojo/datasets/blob/master/titanic.csv)

- If you had unlimited resources (time, money, staff, etc.) how would you collect your data? 
  - (i) Attempt to collect more data on Titanic; (ii) investigate if the provided dataset is a good random sampling subset of the original Titanic population.

## Prepare your dataset

In [ ]:
## load dataset from github

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- Tell us what groups you want to compare in the dataset
  - **G1** (survived | sex = male) vs. **G2** (survived | sex = female)

- Print first 5 records of each group, respectively.

In [ ]:
## First 5 records of G1 (male)
(df[df['Sex'] == 'male']['Survived']).head(5)

0    0
4    0
5    0
6    0
7    0
Name: Survived, dtype: int64

In [ ]:
## First 5 records of G2 (female)
(df[df['Sex'] == 'female']['Survived']).head(5)

1    1
2    1
3    1
8    1
9    1
Name: Survived, dtype: int64

In [ ]:
## Any other data description and visualization you want to add.

## Open question, be flexible and no example can be provided.